.trip-image img {
  width: 350px;
  height: 250px;
  border-radius: 10px;
}

.trips-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 20px 20px 40px;
}

.trip {
  display: flex;
  padding: 20px;
}

.trip-detail {
  padding: 10px 0 0 30px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
}

div .description {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 500px;
  color: rgb(147, 147, 147);
  font-size: 12px;
}

.page-header {
  padding-top: 20px;
  width: 100vw;
}

.page-title {
  text-align: center;
  color: rgb(94, 182, 232);
}

.input-search {
  display: flex;
  flex-direction: column;
  /* padding: 20px 10px; */
  align-items: center;
  gap: 10px;
  width: 100%;
}

.input-search label {
  width: 70%;
  text-align: start;
}

div input {
  outline: 0;
  border-width: 0 0 2px;
  border-color: rgb(208, 205, 205);
  text-align: center;
  width: 70%;
}

.view-button {
  padding-left: 0;
  background-color: white;
  border: 0;
  text-decoration: underline;
  cursor: pointer;
}

.view-button:hover {
  color: rgb(94, 182, 232);
}

.trips-tags {
  display: flex;
  color: rgb(147, 147, 147);
  font-size: 12px;
}

.trips-image-list {
  display: flex;
  gap: 20px;
}

.trips-image-list img {
  width: 70px;
  height: 70px;
  border-radius: 10px;
}

.tag {
  background-color: white;
  border: 0;
  text-decoration: underline;
  color: rgb(147, 147, 147);
}

.title {
  color: black;
  font-weight: bold;
}

.copy-url {
  padding-left: 180px;
  padding-top: 20px;
  width: 70px;
  height: 70px;
}

.copy-button {
  background-color: white;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: rgb(94, 182, 232) solid 2px;
  font-size: 10px;
  cursor: copy;
}

.copy-button img {
  width: 20px;
  height: 20px;
}
